# Configuración de Base de Datos
DB_HOST=sebadb
DB_NAME=wordpress
DB_USER=wpuser
DB_PASSWORD=wppassword

# Configuración del Sitio
WP_ENV=development
WP_HOME=http://localhost:8060
WORDPRESS_DOMAIN=localhost
WORDPRESS_PORT=8060

# --- IMPORTANTE: Genera tus keys únicas aquí ---
# Entra en https://api.wordpress.org/secret-key/1.1/salt/
# y reemplaza estas líneas con lo que te dé esa página.
AUTH_KEY=
SECURE_AUTH_KEY=
LOGGED_IN_KEY=
NONCE_KEY=
AUTH_SALT=
SECURE_AUTH_SALT=
LOGGED_IN_SALT=
NONCE_SALT=